<div class="{{classPrefix}}">
  <div class="{{classPrefix}}-content">
    {{{header}}}
    <ul data-role="items">
    {{#each body}}
      <li data-role="item" class="{{../classPrefix}}-item">
        {{{this}}}
      </li>
    {{/each}}
    </ul>
    {{{footer}}}
  </div>
</div>
